$grid-columns : 12 !default;


$blue: #0d6efd !default;


$primary: #DD0000 !default;
$neutral-100: #000D21;
$neutral-70: #70767D;
$neutral-50: #A6AEB9;
$neutral-30: #D7DCE2;
$neutral-20: #E9EDF1;
$neutral-10: #F9FAFB;
$neutral-0: #FFFFFF;
