@use "../utils/" as *;
aside {
    @include toRem(width, 290);
    @include flexbox();
    @include flex-direction($value: column);
    background: linear-gradient(-144.62deg, #002241 0%, #000814 79.24%);
    padding: 20px 12px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-neutral-30);
    @include scrollbars(5px, var(--color-primary), var(--color-neutral-30));
    .sidebar {
        @include flexbox();
        @include flex-direction($value: column);
        ul {
            li {
                @include flexbox();
                @include toRem(margin-block, 8);
                a {
                    width: 100%;
                    @include flexbox();
                    padding: 10px 12px;
                    @include transition(.3s);
                    &.active {
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 2px;
                        span {
                            font-weight: 700;
                            color: var(--color-neutral-0);
                        }
                    }
                    &:hover {
                        span {
                            color: var(--color-neutral-0);
                        }
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        color: var(--color-neutral-30);
                        @include transition(.3s);
                    }
                    img {
                        @include transition(.3s);
                        @include toRem(margin-right, 7.97);
                    }
                }
                &.divider {
                    width: 100%;
                    height: 1px;
                    @include toRem(margin-block, 8);
                    @include flexbox();
                    background-color: rgba(255,255,255,0.2);
                }
            }
        }
    }
}